[submodule "external/ceres-solver"]
	path = okvis_modules/external/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "external/brisk"]
	path = okvis_modules/external/brisk
	url = ../brisk.git
[submodule "external/DBoW2"]
	path = okvis_modules/external/DBoW2
	url = https://github.com/dorian3d/DBoW2.git
[submodule "external/opengv"]
	path = okvis_modules/external/opengv
	url = https://github.com/laurentkneip/opengv
[submodule "external/googletest"]
	path = okvis_modules/external/googletest
	url = https://github.com/google/googletest.git
